<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Trang chủ</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/products.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/lastest-news.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/index-newsletter.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/index-category.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/product-showcase.css}"/>
    </th:block>
</head>
<body>
<main id="main-content" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="account-title text-center">Đặt Lại Mật Khẩu</h2>
            <p class="text-center">Nhập mật khẩu mới của bạn.</p>
            <form class="reset-password-form" th:action="@{/dat-lai-mat-khau}" method="post">
                <input type="hidden" name="token" th:value="${token}">

                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type="password" class="form-control" name="newPassword" required>
                </div>

                <div class="form-group">
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" name="confirmPassword" required>
                </div>

                <button type="submit" class="btn btn-primary red-btn btn-block">Đặt lại mật khẩu</button>
            </form>
            <p class="text-success text-center" th:if="${message}" th:text="${message}"></p>
            <p class="text-danger text-center" th:if="${error}" th:text="${error}"></p>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script th:src="@{/script/account.js}"></script>
</th:block>
</body>
</html>
